In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [3]:
# your code here
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [4]:
# your code here
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [13]:
# your code here
num = df['method'].nunique()
print(num)

10

### What is the number of data collected in each year?

In [12]:
# your code here
year_count = df['year'].value_counts()
print(year_count)

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [16]:
# your code here
missing_values = df.isnull().sum()
print(missing_values)

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Write docstring for the function below.

In [65]:
def do_something(x, y, z):
    """
    Finds the reciprocal of the sum of 1/x, 1/y, and 1/z.
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

0.3333333333333333

### Get (print) the docstring of the function defined above.

In [66]:
# your code here
print(do_something.__doc__)

    Finds the reciprocal of the sum of 1/x, 1/y, and 1/z.

### Call do_something function for the (11,13,15) values and save it as result

In [32]:
# your code here
result = do_something(11, 13, 15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [71]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here
index = int(result)
ar = s.split()
print(ar[index])

and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [52]:
import random

arr = [random.randint(1, 100) for i in range(10)]

# your code here
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if(arr[i]<arr[j]):
            a = arr[i]
            arr[i] = arr[j]
            arr[j] = a
print(arr)

[99, 91, 79, 78, 73, 57, 55, 20, 18, 8]

### define a recursive function to calculate input numbers factorial named factorial

In [33]:
# your code here
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

### define a function to merge the given arrays and calculate the median named twoMedian

In [49]:
# your code here
def merge_and_find_median(list1 :np.array, list2:np.array):
     merged_array = np.concatenate([list1, list2])
     twoMedian = np.median(merged_array)
     return twoMedian